project/node_modules/.cache/.eslintcache
project/node_modules/.cache/.eslintcache
project/node_modules/.cache/.eslintcache
project/node_modules/.cache/default-development/15.pack
project/node_modules/.cache/default-development/16.pack
project/node_modules/.cache/default-development/index.pack
project/node_modules/.cache/default-development/index.pack.old
